h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, body {
    font-family: 'Avenir', Helvetica, Arial, "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "黑體-繁", "Heiti TC",
    "微軟正黑體", "Microsoft JhengHei", sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #F2F2F2;
}

body .btn-tag {
    border-radius: 30px;
}

header h2 {
    font-family: Optima-ExtraBlack !important;
}

.article img {
    height: 220px;
}

.content-img img {
    width: 645px;
}