h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, body {
    font-family: 'Avenir', Helvetica, Arial, "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "黑體-繁", "Heiti TC",
    "微軟正黑體", "Microsoft JhengHei", sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header h2 {
    font-family: Optima-ExtraBlack !important;
}

header .profile {
    font-family: Optima-ExtraBlack;
    font-size: 22px;  
}

.nav-bar .nav .nav-item a {
    font-family: Optima-ExtraBlack;
    font-size: 22px;
}

.nav-bar .nav .active a {
    border-bottom-style: solid;
    border-bottom-width: 5px;
    color: #ffffff !important;
}

.pack {
    box-shadow: 1px 1px 1px 1px #ccc;
    padding: 1rem;
    background-color: #fff;
}

.statistics-body span {
    font-family: Optima-ExtraBlack !important;
    font-size: 30px;
}

.order-content .img img {
    height: 100px;
}

.order-content .content .title {
    font-family: Optima-ExtraBlack !important;
}

.order-content .content .info .left {
    font-size: 16px;
    color: #ccc;
}

.order-content .content .info .right {
    text-align: right;
    font-size: 14px;
}

.order-content .content .info .price span {
    font-family: Optima-ExtraBlack !important;
    font-size: 20px;
}